/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}
/*html{
    scroll-behavior: smooth;
}*/

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    color: #696969;
}

a:hover, a:focus {
    text-decoration: none;
    color: #696969;
}

img {
    max-width: 100%;
}

a, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    margin: 4px 0;
    font-family: 'Montserrat', sans-serif
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,0.20);
}

/*  top-nav css start */

.top-nav {
    background: #f5f5f5;
    padding: 20px 0;
}

.top-nav a {
    -webkit-columns: #696969!important;
    -moz-columns: #696969!important;
    columns: #696969!important;
    font-size: 14px;
}

.top-nav-contact-info i {
    font-size: 20px;
    vertical-align: middle;
}

/* header css start */

header {
    background: #ddd url(img/header-bg.jpg)no-repeat center center / cover;
    position: relative;
    z-index: 1;
}

header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.welcome-text {
    padding: 150px 0;
}

.welcome-text h1 {
    font-size: 64px;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.welcome-text p {
    font-size: 16px;
    color: #edeeff;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}

.custom-btn {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    background: #fab702;
    padding: 20px 40px;
    font-size: 22px;
    margin-top: 20px;
}

.header-bottom {
    background: #fab702;
    padding: 22px 0;
}

.header-bottom-text p {
    font-size: 24px;
    color: #fff;
    margin-bottom: 0;
    padding-top: 16px;
}

.btn-Quate {
    display: inline-block;
    color: #fab702;
    font-weight: 500;
    background: #fff;
    padding: 14px 16px;
    font-size: 20px;
}

/*   section title css  */

.section-padding {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
}

.section-title h1 {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title p {
    font-weight: 400;
    color: #6d7396;
    max-width: 725px;
    margin: 12px auto;
}

/*  service section  */

.service-img {
    position: relative;
}

.service-img:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(250, 193, 2, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .5s;
    transition: .5s;
}

.service-item:hover .service-img:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.service-content {
    padding: 12px;
}

.service-content h3 {
    font-size: 24px;
    padding: 20px 0;
    -webkit-transition: .5s;
    transition: .5s;
    text-transform: uppercase;
}

.service-item:hover .service-content h3 {
    color: #fab702;
}

.service-content a {
    display: inline-block;
    font-size: 18px;
    -webkit-transition: .5s;
    transition: .5s;
    text-transform: uppercase;
}

.service-item:hover .service-content a {
    color: #ffb700;
    text-decoration: underline;
}

/*  service-bottom css */

.video-area {
    position: relative;
    background-color: #f8f8f8;
}

.video-bg {
    background: url(img/service/s1.jpg)no-repeat center center / cover;
    position: absolute;
    height: 100%;
    width: 46%;
    left: 0;
    top: 0;
}

.video-play-btn {
    position: absolute;
    right: 80px;
    bottom: 26px;
    height: 80px;
    width: 80px;
    border: 6px solid #ffb700;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}

.video-play-btn i {
    color: #ffb700;
    font-size: 30px
}

.service-list:hover h3 {
    color: #ffb700
}

.fillter-nav li {
    cursor: pointer;
}

.fillter-nav .mixitup-control-active {
    color: #ffb700 !important;
}

.mix {
    position: relative;
    padding: 2px;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
}

.work-title-overlay {
    background: #fef6de;
    padding: 8px 2px;
    position: absolute;
    width: 100%;
    bottom: -100%;
    left: 0;
    -webkit-transition: .5s;
    transition: .5s;
}

.mix:hover .work-title-overlay {
    bottom: 0;
    left: 0;
}

.mix:hover {
    padding: 4px;
}

.work-title-overlay h4 {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #3b404f;
}

.work-title-overlay hr {
    width: 60px;
    border: none;
    border-top: 3px solid #3b404f;
}

.work-btn {
    display: inline-block;
    background: #ffb700;
    padding: 6px 10px;
    margin-top: 12px;
    color: #fff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ddd
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fab702;
}

.customer-review {
    background: #f9f9f9;
}

.customer-review img {
    max-width: 120px
}

#counter-up {
    background: url(img/counter-bg.jpg)no-repeat center center / cover;
    padding: 42px 0;
}

.single-counter {
    text-align: center;
    padding: 12px 0;
}

.single-counter h5 {
    color: #f9f9f9;
}

.counter {
    margin-top: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}

#contact-btn {
    background: #f9f9f9;
    padding: 80px 0;
}

.contact-panel {
    padding: 30px 20px;
    background: #fff;
    border-left: 5px solid #fbbe02;
}

a.btn-Quate.bg-orange {
    background: #fab702;
    color: #fff;
}

/*news section css*/

.news-content {
    margin-top: 25px;
}

.news-meta {
    margin-top: 10px;
}

.news-img {
    position: relative;
}

.news-img:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(250, 193, 2, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .5s;
    transition: .5s;
}

.news-item:hover .news-img:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.news-read-more {
    display: inline-block;
    font-size: 18px;
    -webkit-transition: .5s;
    transition: .5s;
    text-transform: uppercase;
}

.news-item:hover .news-read-more {
    color: #ffb700;
    text-decoration: underline;
}

/*footer top css*/

#footer-top {
    background: #252c3a;
    color: #fff;
    padding-top: 45px;
    padding-bottom: 60px;
}

.footer-top-item h5 {
    margin-bottom: 16px;
}

.recent-post-list ul li a.nav-link {
    padding: 8px 0;
    border-bottom: 1px solid #303744;
    margin: 6px 0;
    color: #f9f9f9;
}

.recent-post-list ul li a:before {
    content: "\ea7c";
    font-family: IcoFont;
    margin-right: 4px;
}

.news-item-bottom-border {
    height: 0;
    margin: 8px 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #303744;
}

.contact-info-list ul li a {
    color: #f9f9f9;
}

.contact-info-list ul li a p {
    display: inline-block;
}

.contact-info-list ul li a.email:before {
    content: "\ef14";
    font-family: IcoFont;
    margin-right: 4px;
}

.contact-info-list ul li a.phone:before {
    content: "\efbb";
    font-family: IcoFont;
    margin-right: 4px;
    vertical-align: top;
}

.contact-info-list ul li a.address:before {
    content: "\ed42";
    font-family: IcoFont;
    margin-right: 4px;
    vertical-align: top;
}

.social-link a {
    padding: 4px 12px;
    font-size: 26px;
    color: #fff;
}

.social-link a:hover {
    color: #ffb700;
}

.mailing-form {
    margin-bottom: 20px;
}

.mailing-form .input-group-text {
    color: #fff;
    background-color: #fab702;
    border: 1px solid #fab702;
    border-radius: 0;
}

.mailing-form .form-control {
    border-radius: 0;
}

/*footer bottom css*/

#footer-bottom {
    background: #4c5b6d;
    padding: 20px 0;
}

#footer-bottom a {
    color: #f9f9f9 !important;
}
.scroll-top {
    height: 70px;
    width: 70px;
    background: red;   
    font-size: 36px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 85px;
    z-index: 1005;
    cursor: pointer;
    
}
.scroll-top a{
 color: #fff;
 display: inline-block;
}